#csp_collection_menu_container {
    position: relative;
    font-size: 20px;
    z-index: 1000;
    height: 50px;
    min-width: 75px;
}

#csp_collection_menu_container::after {
    content: " ";
    clear: both;
    display: table;
}

#csp_collection_menu_container, #csp_collection_menu_container a, #csp_collection_menu_container a:visited {
    color: #ffffff;
}

#csp_collection_menu_container .csp_site-nav {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    /* [ReplaceColor(themeColor:"SuiteBarBackground")] */
    background-color: #36454f;
}

#csp_collection_menu_container .csp_site-nav--open {
    display: block;
}

#csp_collection_menu_container .csp_site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#csp_collection_menu_container .csp_site-nav li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#csp_collection_menu_container .csp_site-nav li:last-child {
    border-bottom: none;
}

#csp_collection_menu_container .csp_site-nav a {
    display: block;
    padding: 1em 4em 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
}

#csp_collection_menu_container .csp_dropdown {
    position: relative;
}

#csp_collection_menu_container .csp_dropdown:hover, #csp_collection_menu_container .csp_dropdown:focus {
    background-color: rgba(255, 255, 255, 0.5);
}

#csp_collection_menu_container .csp_dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    /* [ReplaceColor(themeColor:"SuiteBarBackground")] */
    background-color: #36454f;
    margin-left: 2px;
}

#csp_collection_menu_container .csp_dropdown-content a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-align: left;
    padding: 0.5em 2em;
}

#csp_collection_menu_container .csp_dropdown-content a:last-child {
    border-bottom: none;
}

#csp_collection_menu_container .csp_dropdown-content a:hover, #csp_collection_menu_container .csp_dropdown-content a:focus {
    /* [ReplaceColor(themeColor:"SuiteBarHoverBackground")] */
    background-color: rgba(255, 255, 255, 0.5);
}

#csp_collection_menu_container .csp_dropdown:hover .csp_dropdown-content, #csp_collection_menu_container .csp_dropdown:focus .csp_dropdown-content {
    display: block;
}

#csp_collection_menu_container .csp_menu-toggle {
    position: absolute;
    top: 0.75em;
    left: 0.75em;
    padding: 0.5em 0.5em;
    cursor: pointer;
}

#csp_collection_menu_container .csp_hamburger, #csp_collection_menu_container .csp_hamburger::before, #csp_collection_menu_container .csp_hamburger::after {
    content: " ";
    display: block;
    height: 3px;
    width: 1em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
    background-color: #ffffff;
}

#csp_collection_menu_container .csp_hamburger::before {
    transform: translateY(-6px);
}

#csp_collection_menu_container .csp_hamburger::after {
    transform: translateY(4px);
}

#csp_collection_menu_container .csp_open .csp_hamburger {
    transform: rotate(45deg);
}

#csp_collection_menu_container .csp_open .csp_hamburger::before {
    opacity: 0;
}

#csp_collection_menu_container .csp_open .csp_hamburger::after {
    transform: translateY(-4px) rotate(-90deg);
}

@media(min-width: 1366px) {
    #csp_collection_menu_container .csp_menu-toggle {
        display: none;
    }
    #csp_collection_menu_container .csp_site-nav {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        background-color: transparent;
    }
    #csp_collection_menu_container .csp_site-nav li {
        display: inline-block;
        border: none;
    }
    #csp_collection_menu_container .csp_site-nav li a {
        padding: 0.5em 1em;
    }
    #csp_collection_menu_container .csp_dropdown-content {
        left: 0;
        top: 100%;
    }
}