#csp_contactUs {
    font-size: 18px;
}

#csp_contactUs_label {
    display: none;
    padding: 5px;
}

#csp_contactUs .wf-o365-mail {
    padding: 5px;
}

@media only screen and (min-width: 1365px) {
    #csp_contactUs_label {
        display: inline-block;
    }
}