.ui-dialog .ui-dialog-titlebar-close {
    /* reset as oslo masterpage sets buttons to min-width of 78 */
    min-width: auto;
}

#vdr_container .tabcontent {
    display: none;
}

#vdr_container .tabcontent.active {
    display: block;
}

#tab-3>div {
    min-height: 100px;
    background-color: orangered;
    color: white;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
}

#tab-3 #vdr_management {
    background-color: orange;
    color: inherit;
}

#vdr_management::after {
    content: "";
    clear: both;
    display: table;
}

#vdr_group_data {
    width: 48%;
    float: left;
}

#vdr_proponent {
    width: 48%;
    float: right;
}

#vdr_proponent {
    border: 1px solid #c5c5c5;
    background-color: #f6f6f6;
    padding: 2px;
    margin: 2px;
}

#vdr_proponent .vdr_proponent_header {
    font-weight: 800;
    border-bottom: 1px solid #c5c5c5;
    padding: 5px 10px 2px;
    margin: 5px 10px 2px;
}

#vdr_proponent .vdr_proponent_name {
    float: left;
    width: 40%;
}

#vdr_proponent .vdr_proponent_header .vdr_proponent_name {}

#vdr_proponent .vdr_proponent_uid {
    float: left;
    width: 30%;
}

#vdr_proponent .vdr_button {
    float: right;
    width: 125px;
}

#vdr_proponent .vdr_proponent_header .vdr_proponent_uid {}

#vdr_proponent .vdr_proponent_data {
    padding: 5px;
    margin: 5px;
}

#vdr_proponent .vdr_proponent_row {
    padding: 2px 10px;
}

#vdr_proponent .vdr_inactive {
    opacity: 0.35;
}

#vdr_proponent .vdr_proponent_header::after, #vdr_proponent .vdr_proponent_row::after {
    content: "";
    clear: both;
    display: table;
}