#csp_breadcrumbContainer {
    padding: 15px 16px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.025)
}

.csp_breadcrumb+.csp_breadcrumb:before {
    padding: 8px;
    content: "/\00a0"
}

/*adjust the default title row to allow for ridiculously long/deep site and folder names*/

#s4-titlerow {
    min-height: 64px;
    height: auto;
}