    /* topnav */

    #csp_topnav {
        position: relative;
        z-index: 150;
    }

    #csp_topnav a {
        text-align: left;
        font-size: 18px;
        display: block;
    }

    #csp_topnav a, #csp_topnav a:visited, #csp_topnav a:hover {
        color: #ffffff;
        text-decoration: none;
    }

    /* hamburger */

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        display: block;
        margin: 6px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    #csp_hamburger {
        width: 50px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #csp_hamburger.is-active {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #csp_hamburger:before {
        content: "";
        position: absolute;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border: 5px solid transparent;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border-radius: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        /* margin: 10px; */
    }

    #csp_hamburger.is-active:before {
        border: 5px solid #ecf0f1;
    }

    #csp_hamburger.is-active .line {
        width: 35px;
    }

    #csp_hamburger.is-active .line:nth-child(2) {
        opacity: 0;
        background-color: yellow;
    }

    #csp_hamburger.is-active .line:nth-child(1) {
        -webkit-transform: translateY(9px);
        -ms-transform: translateY(9px);
        -o-transform: translateY(9px);
        transform: translateY(9px);
        /* color: green; */
        /* background-color: green; */
    }

    #csp_hamburger.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-9px) rotate(90deg);
        -ms-transform: translateY(-9px) rotate(90deg);
        -o-transform: translateY(-9px) rotate(90deg);
        transform: translateY(-9px) rotate(90deg);
        /* background-color: red; */
    }

    /* topnav content */

    #csp_topnav.is-active .topnav-content {
        background-color: #000000;
        display: block;
        float: left;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 150;
        margin-top: 9px;
    }

    #csp_topnav>.topnav-content {
        display: none;
    }

    /* dropdown */

    #csp_topnav .dropdown {
        background-color: #000000;
        border-bottom: 1px #666666 solid;
        position: relative;
    }

    #csp_topnav .dropdown>a {
        display: block;
        min-width: 150px;
        padding: 10px;
        cursor: pointer;
    }

    /* dropdown content */

    #csp_topnav .dropdown-content {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: #000000;
        border-left: 1px #666666 solid;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    #csp_topnav .dropdown:hover .dropdown-content {
        display: block;
    }

    #csp_topnav>.topnav-content>.dropdown:hover {
        background-color: #104A7D;
    }

    #csp_topnav .dropdown-content a:hover {
        background-color: #104A7D;
    }

    #csp_topnav .dropdown-content a {
        border-bottom: 1px #666666 solid;
        padding: 10px;
    }

    @media only screen and (min-width: 1365px) {
        .hamburger {
            display: none;
        }
        #csp_topnav a {
            font-size: 14px;
        }
        #csp_topnav>.topnav-content {
            display: block;
        }
        #csp_topnav>.topnav-content>.dropdown {
            display: inline-block;
            background-color: transparent;
        }
        #csp_topnav .dropdown>a {
            min-width: auto;
            padding: 10px 10px 10px 10px;
        }
        #csp_topnav .dropdown-content {
            top: 100%;
            left: 0;
            border-left: none;
            border-top: 1px #666666 solid;
        }
        #csp_topnav .dropdown {
            border-bottom: none;
        }
    }

    @media only screen and (min-width: 1592px) {
        #csp_topnav a {
            font-size: 16px;
        }
        #csp_topnav .dropdown>a {
            padding-right: 20px;
        }
    }